#Ignore files build by Visual Studio
*.dll
*.pdb
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in*/
[Dd]ebug*/
&.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Oo]bj*/
MWSWebSolution/DebugLogHandler/obj/Debug/DebugLogHandler.csproj.FileListAbsolute.txt
MWSWebSolution/DebugLogHandler/obj/Debug/DebugLogHandler.csproj.FileListAbsolute.txt
MWSWebSolution/DebugLogHandler/obj/Debug/DebugLogHandler.csproj.FileListAbsolute.txt
MWSWebSolution/DebugLogHandler/obj/Debug/DebugLogHandler.csproj.FileListAbsolute.txt
*.dll
*.pdb
*.user
*.csproj
*.cache
*.exe
